@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

*{margin:0;padding:0px;box-sizing:border-box;}

body{background-color:hsl(185deg, 75%, 39%);
    background-position: right 66vw bottom 53vh, left 71vw top 65vh;
    background-image:url(images/bg-pattern-top.svg),url(images/bg-pattern-bottom.svg);
    background-repeat:no-repeat;
    font-family: 'Signika', sans-serif;}


.Login-Signup{display:flex;justify-content:center;align-content: center;}

#signdisplay{display:none;}
#logindisplay{display:flex;}


.container{display:flex;
           justify-content:center;
           align-items:center;
           flex-direction: column;
           height:100vh;}

.container h1{color:white;margin-bottom:20px;text-align: center;}



.card-background-image{background-image: url(images/card-foto.png);
                            background-repeat: no-repeat;
                            background-color:white;
                            width: 23rem;
                            height:11.75rem;
                            border-radius: 10px 10px 0px 0px;}

.icon-placer{display: flex;
      justify-content:center;
      align-items:flex-end;
      height:100%; width:100%;}

.icon-box{width:100px;
       height:100px;
       border-radius:100%;
       background-color:white;
       border:2px solid #959595;
       display:flex;
       justify-content:center;
       align-items: center;}
                        
.card-content{width: 23rem;
              height:17rem;
              background-color:white;
              border-radius: 0px 0px 10px 10px;
              padding:15px;}

.form-content-center{ display:flex;justify-content: center;align-items: center;flex-direction: column;height:100%;}

.inputs{width:220px;height:30px;border:none;border-bottom:2px #959595 solid;margin-bottom:5px;font-weight:500;}
.inputs:active{border:none;border-bottom:2px solid #959595;}
.inputs:focus{border:none;border-bottom:3px solid #40b3bb;}
.inputs:focus-visible{outline:none;}


.button-center-flex-end{display: flex;justify-content:center;align-items:flex-end;height:100%;}

.button-login-signup{width:150px;height:30px;background-color:#3cc9d2;border:none;border-radius:5px;color:white;font-size:16px;font-weight:500;cursor: pointer;}
.button-login-signup:hover{background-color: #40b3bb;}
.button-login-signup:active{background-color: #40a8af;}




@media only screen and (max-width: 850px) {
    .spacing{margin-right:50px;}
  }
  
@media only screen and (max-width: 780px) {
    .spacing{margin-right:25px;}
  }

@media only screen and (max-width: 750px) {
    .Login-Signup{display:block;justify-content:center;align-content: center;}
    .spacing{margin-right:0px;}
    .container{display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        height:100%;}
    .container h1{color:white;margin:10px 0px;}
  }




  